@media screen and (min-width: 200px) {
    .mainContainer{
        width: 99vw;
    }
  }

@media screen and (min-width: 1200px) {
    .mainContainer{
        width: 80vw;
    }
  }


  .no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}